@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');

html {
  height: 100%;
}
body {
  margin: 0;
  flex-flow: column;
  height: 100%;
  display: flex;
}
.hide {
  display: none;
}

.time-table {
  display: flex;
  height: 20vh;
}
.subject-container {
  padding: 7vh 5vw;
  display: flex;
  flex-grow : 1;
  justify-content: space-around;
}
.subject {
    display: flex;
    align-items: center;
    font-family: 'Do Hyeon';
    color: mediumslateblue;
    font-size: 8vh;
    transition-duration: 1s;
}
.subject.done {
  color: rebeccapurple;
}
.subject.selected {
  font-size: 10vh;
  color: mediumpurple;
}


.date-and-time {
  display: flex;
}
.date-and-time-container {
  padding: 2vh 0;
  flex-grow : 1;
  text-align: center;
  font-family: 'Do Hyeon';
  color: cornflowerblue;
}
.time {
  font-size: 30vh;
  line-height: 20vh;
}
.date {
  font-size: 7vh;
}


.details {
  display: flex;
  height: 45vh;
}
.details-container {
  padding: 3vh 3vw;
  flex-grow : 1;
  display: flex;
}
.detail {
  color: lightblue;
  flex-grow: 1;
  flex-basis: 0;
  font-family: 'Do Hyeon';
  font-size: 4vh;
  overflow: hidden;
}
.detail .always-selected {
  color: black;
}
.detail .selected {
  color: gray;
}
